* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  #container {
    background-color: #fff;
    width: 1320px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../Assignment1_HappyNewYear/images/Banner Image.png');
    height: 600px;
        position: relative;
        margin: 0 auto;
        padding: 0 140px;
    text-align: center;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    border-radius: 16px;
  }
  
  .quotes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    text-align: center;
  }
  
  .banner__main_quote {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .banner_alt_quote {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }
  
  #discount {
    
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding-top: 140px;
        align-items: center;
        text-align: center;
  }

  #discount p
  {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;

   
    
  }

  #discount h3{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
margin-bottom: 16px;

}

  #discount h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

    
 
  
  }

  .body_party_banner{
         background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../Assignment1_HappyNewYear/images/Vectorrr.png);
         height: 600px;
         
            text-align: center;
            justify-content: center;
            background-repeat:no-repeat;
            position: relative;
            bottom: -1000px;
            border-radius:16px;
    
    
  }


  .party_banner1 {

    background-color:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);  
     height: 482px;
         
            text-align: center;
            justify-content: center;
            background-repeat:no-repeat;
            position: relative;
            bottom: -1000px;
            border-radius:16px;
  }