* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  #container {
    background-color: #fff;
    width: 1320px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../Assignment1_HappyNewYear/images/Banner Image.png');
    height: 600px;
        position: relative;
        margin: 0 auto;
        padding: 0 140px;
    text-align: center;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    border-radius: 16px;
  }
  
  .quotes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    text-align: center;
  }
  
  .banner__main_quote {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .banner_alt_quote {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }
  
  #discount {
    
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding-top: 140px;
        align-items: center;
        text-align: center;
  }

  #discount p
  {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;

   
    
  }

  #discount h3{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
margin-bottom: 16px;

}

  #discount h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 45px;
 
  }

 

  .party_banner1{
            background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../Assignment1_HappyNewYear/images/Vectorrr.png);
            height: 600px;
            background-repeat:no-repeat;
            border-radius:16px;
            position: relative;
            top: 1212px;
            display: flex;
            flex-wrap: nowrap;
            
  }
  
  .party_banner_left {
    text-align: left;
    margin: 126px;
    width: 697px;
  }
  .party_banner_right {
    text-align: right;
    margin-right: 138px;
    margin-top: 68px;
  }
  .welcome_note {
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
    
}

.welcome_description {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
  }
  .welcome_join {

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
padding-left: 32px;
top: 48px;
position: relative;
  
  }


  .party_banner2 {

            background :linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);  
            height: 482px;
            text-align: center;
            justify-content: center;
            background-repeat:no-repeat;
            padding: 100px 385px;
            position: relative;
            top: 1332px;
  }
            

.mark{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    
}

.mark_ans{
color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.join_btn{
border-radius: 8px;
background: #F00;
display: inline-flex;
padding: 16px 32px;
margin-top: 48px;
border: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}

